{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post" class="space-y-6">
                <div>
                    <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email:</label>
                    <div class="mt-2">
                        <input id="username" name="_username" type="text" value="{{ last_username }}" required class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-semibold leading-6 text-gray-900">Password:</label>
                        {# <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                        </div> #}
                    </div>
                    <div class="mt-2">
                        <input id="password" name="_password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-gray-950 px-4 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-900">Login</button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-600">
                Not a member?
                <a href="{{ path('app_register') }}" class="font-semibold leading-6 text-gray-700 hover:text-gray-900">Create an account</a>
            </p>

        </div>
    </div>

{% endblock %}
